@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,100&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'IBM Plex Mono', monospace;
}
body{
  margin: 0;
  background: black;
  color: rgb(13, 247, 13);
}
/* NavBar */
.div1{
  display: flex;
  background-color: rgb(13, 247, 13);
}
.div1 ul{
  list-style: none;
  display: flex;
  margin-left: auto;
}
.div1 ul li {
  margin-right: 15px;
}
.div1 ul li {
  font-size: 20px;
  margin-top: 20px;
}
.div1 ul li a {
  text-decoration: none;
  color: black;
}
.LinkText{
 display: flex;
 align-items: center;
}
.LinkText span {
  margin-right: 5px; 
}
.linkContainer{
  display: flex;
  text-decoration: none;
}
.titleLogo{
  color: black;
  text-decoration: none;
  font-size: 30px;
  margin-top: 20px;
  margin-left: 10px;
}
.logo{
  width: 10%;
  margin: 3px 5px;
}

.greetdiv{
  text-align: center;
}

/* Productos */

.prods{
  display: flex;
  flex-wrap:  wrap;
  justify-content: space-evenly;
}

.imgsProds{
  width: 300px;
  margin: 4px 4px;
}

.prod{
  display: flex;
  flex-direction: column;
  width: 350px; 
  height: 400px; 
  color: rgb(13, 247, 13);
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  position: relative;
  
}
 .bord{
  border: solid 4px;
  border-color: rgb(13, 247, 13);
  margin: 10px 10px;
  border-radius: 5%;
} 

.botonAddCard{
  position: absolute;
  bottom: 10px; 
  left: 50%; /* Centrar horizontalmente */
  transform: translateX(-50%); /* Centrar horizontalmente */
  color: black;
  font-size: 1.1em;

}
.botn{
  padding: 2px 2px;
  color: black;
  background: rgb(13, 247, 13);  
}

