.form {
  text-align: center;
  background-color: black;
}
.form label {
  margin-top: 6px;
}

.buttonConfirm {
  width: 150px;
  height: 40px;
  margin: 10px 10px;
  background: rgb(13, 247, 13);
}

.orderNumber {
  background-color: black;
  text-align: center;
}
